body{
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px;
}

footer{
    background-color: darkgreen;
    padding: 48px 24px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

table{
    letter-spacing: 10px;
}
